.main-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'green red' 'yellow blue';
    grid-gap: 10px;
    border: 1px solid #20232a;
    background-color: #20232a;
    border-radius: 100%;
    margin-top: 7%;
    width: 500px;
    height: 500px;
    cursor: pointer;
}

.blue {
    grid-area: blue;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: red;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: yellow;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: green;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}

body {
    font-family: Arial, sans-serif;
    background-color: #20232a;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 3rem;
    color: #61dafb;
    text-shadow: 0 0 10px #61dafb, 0 0 20px #21a1f1, 0 0 30px #1c87c9;
    margin-top: 20px;
    animation: glow 1.5s infinite alternate;
  }

  @keyframes glow {
    0% {
      text-shadow: 0 0 10px #61dafb, 0 0 20px #21a1f1, 0 0 30px #1c87c9;
    }
    100% {
      text-shadow: 0 0 20px #61dafb, 0 0 30px #21a1f1, 0 0 40px #1c87c9;
    }
  }

  p {
    font-size: 1.2rem;
    color: #aaaaaa;
    margin-top: 10px;
  }